$white: #fff;
$dark-gray: #343a40;
$light-gray: #cfd2d4;
$gray: gray;
$light-blue: #f4f3fd;
$red: #e01515;
$red-darker: #9b0e0e;
$validation-red: #b93f3f;
$green: #097d09;
$green-darker: #0b5c0b;
$blue: blue;
$blue-darker: rgb(8, 8, 131);

$tablet-width: 768px;
$desktop-width: 1024px;
