.new-comment {
  margin-top: 30px;
  margin-bottom: 60px;

  textarea {
    width: 100%;
    padding: 5px 10px;
    border: none;
    box-shadow: inset 1px 1px 3px 0px #d8d2d2;
    resize: none;

    &:focus {
      outline: none;
    }
  }

  button {
    float: right;
  }
}

.comment {
  background-color: #343a40;
  color: white;
}
